*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.up {
    display: flex;
    height: 100px;
    padding: 10px;
    background-color: blue;
    border-top-right-radius: 50rem;
    border-bottom-left-radius: 50rem;
    justify-content: space-around;
    margin-bottom: 3rem;
    box-shadow: #706c6a 0px 10px 10px 0rem;
}
.link {
    
    display: flex;
    text-decoration: double;
    border-bottom: none;
    margin-right: 30px;
    padding: 10px;
    font-size: 2em;
    line-height: 1.5em;
    color: #fefefe;
    background: transparent;
}

.link:hover {
    border: 2px solid #fefefe;
    border-radius: 10px;
}
.para,.par,.pa{
    font-size: 3rem;
    font-style: italic;
    top: 50vh;
}
.inside{
   color: green;
}
.foot {
    margin-top: 30px;
    height: 15rem;
    border-radius: 5vh;
    align-items: center;
    display: flex;
    justify-content: space-around;

}
.links {
    text-decoration: none;
    border-bottom: #272524 1px solid;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    color: #272524;
}

.links:hover {
    padding: 15px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    border-radius: 3vh;
} 
.btns {
    font-size: 3rem;
    background-color: rgb(red, green, blue);
    border: 1px solid black;
    border-radius: 10px;
}

hr {
    width: 100%;

}
.img1{
    left: 15%;
    width: 100px;
    border-radius: 10px;
    background-color: transparent;
    animation: infinite linear 5s img1;
}
@keyframes img1{
    0%,50%,100%{
        width: 10px;
    }
    30%,60%,80%{
        width: 100px;
    }
}
.img2{
    
    width:100%;
    margin: 10% auto;
    /* margin-left: 25%; */
    
    border: 1px solid black;
    border-radius: 3px;
    display: none;
    transition: all 3s ease-in-out;
    animation: linear 5s move;
}
/* .img2:hover{
    width: 100%;
} */
@keyframes move {
    0%{
        clip-path: circle(30%);
        transform: matrix(40px);
    }
    100%{
        transform: matrix(100px);
    }
}
form {
    margin-top:0;
    margin: 20rem;
    padding: 10vh 5vh 10vh 5vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: skyblue;
    border-radius: 15px;
    box-shadow: #524d4d 30px 30px 50px;
    display: none;
    animation:from infinite linear 5s;
    
}
@keyframes from {
    0%{
        top: -0vh;
    }
    100%{
        top:30vh;
    }

 }
.input {
    border: none;
    border-bottom: 2px solid black;
    font-size: 2em;
    background-color: skyblue;
}

.input:hover {
    border: 1px solid black;
    border-radius: 10px;

    height: 50px;
    background-color: black;
    color: snow;
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
    background-color: transparent;
}#reset {
    width: 7rem;
    height: 3rem;
    color: white;
    background-color: red;
    border-radius: 10px;
    font-size: 2em;
}

#submit {
    width: 7rem;
    height: 3rem;
    color: white;
    background-color: lawngreen;
    border-radius: 10px;
    font-size: 2em;

}
@media screen  and (max-width:480px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .up {
        padding: 50px;
        width: 100%;
        height: 5px;
        background-color: blue;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 20px;
        justify-content:center;
        align-items: center;
        box-shadow: #706c6a 0px 1rem 0px 0rem;
    }
    .link{
        font-size: 1rem;
    }
    .para,.par,.pa{
        font-size: 2rem;
    }
    .btns{
        font-size: 1rem;
        padding: 2px 5px;
        margin-top: 50px;
        position: absolute;
    }
    form{
        width: 100%;
        margin: 0;
        box-shadow:none;
        margin-bottom: 10vh;
        
    }
    .input{
        width: 90%;
        margin-top: 5px;
    }
    .foot{
        flex-direction: column;
    }
    hr{
        width: 100%;
    }
    .img2{
        margin-right:30px;
        width: 100%;

    }

}