*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display: none;
}
:root{
    --bgColor:#0f1547;
    --textColor:#ffff;
    --bdColor:#0940f7fb;
}
#search::placeholder{
    color: var(--bgColor);
    padding-left: 5px;
    text-transform: uppercase;
    caret-color: var(--bdColor);
}
#menu-button,
.menu-button-span {
    display: none;
}
@media screen and (min-width:701px){
    h1 {
        color: white;
        font: 800   calc(1.375rem + 1.5vw) 'Courier New' ,Courier,monospace small-caption;
        line-height: 1.2;
        align-items: flex-end;
    }
    .navber {
        width: 100%;
        display: flex;
        height: 100px;
        padding: 10px;
        background-color:var(--bdColor);
        border-top-right-radius: 50rem;
        border-bottom-left-radius: 50rem;
        justify-content: space-around;
        margin-bottom: 3rem;
        box-shadow: var(--textColor) 5px 5px 5px 5px;
        z-index: 1;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
    }
    #search {
        border-radius: 20px;
        width: 700px;
        background-color:var(--textColor);
        font-size: 2rem;
        height: 50px;
        color: var(--bgColor);
        padding-left: 5px;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        border:var(--bgColor) 2px solid;
    }
    #search:focus{
        outline: 1.45px solid white;
        outline-offset: 2px;
    }
    }
    #search::placeholder{
        color:rgb(173, 176, 202);
        font: bolder 24px italic;
    }
    .search_img {
        width: 50px;
        height: 50px;
        top: 100px;
        border-radius: 20px;
        filter: drop-shadow(45);
        /* vertical-align: middle; */
    }
    .navber2 > .menu_btn{
        display: none;
    }
    .navber3{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .navber3 > .navber3_inner1{
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .navber3 > .navber3_inner1 > .link{
        font-size: 1.5rem;
        font-weight: bolder;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:var(--textColor);
        text-transform: uppercase;
    }
    .navber3 > .navber3_inner1 > .link:hover{
        border-top: 5px solid var(--bgColor);
        color: var(--bgColor);
    }
    .navber>.navber1>svg{
        margin-left: -50px;
        margin-bottom: -20px;
        width: 50px;
        height: 50px;
        border-radius: 20px;
        filter: drop-shadow(45);

    }
    .navber>.navber2> .navber3 > .navber3_inner2{
        width: 400px;
        display: flex;
        justify-content: space-around;
    }
    .navber>.navber2> .navber3 > .navber3_inner2>.button {
        width: 70px;
        height: 30px;
        border-radius: 10px;
        border: 1px solid var(--bgColor);
        background-color: var(--textColor);
        display: flex;
        cursor: pointer;
        display: flex;
    }
    .navber>.navber2> .navber3 > .navber3_inner2>.button >.btnlightmode {
        height: 30px;
        width: 30px;
        background-color: white;
        border-radius: 50%;
        display: none;
    }
    .navber>.navber2> .navber3 > .navber3_inner2>.button >.btndarkmode {
        border-radius: 50px;
        height: 25px;
        width: 30px;
        border-right: 5px solid black;
    }
    .navber>.navber2> .navber3 > .navber3_inner2>.cart {
        width: 70px;
    }
    .navber>.navber2> .navber3 > .navber3_inner2>.num_cart {
        width: 20px;
        height: 20px;
        color: white;
        background-color: transparent;
        margin-top: 25px;
        margin-left: -175px;
        font-size: 1.5rem;
        font-weight: 900;
    } 
    .main{
        background-color: var(--textColor);
        box-shadow: inset 5px 5px 10px 10px black;
    }
    .main > .img{
        width:50px;
        height: 50px;
        border-radius: 50px;
    }
    .thumbnail{
    
        bottom: 50px;
        z-index: 100;
        gap: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1400px;
        margin: 0 auto;
    }
    .thumbnail .item{
        width: 300px;
        height:400px;
        flex-shrink: 0;
        position: relative;
        object-fit: contain;
        overflow: hidden;
    }
    .thumbnail .item img{
        width: 300px;
        height: 100%;
        object-fit:cover;
        border-radius: 20px;
    }
    .thumbnail .item .content{
        height: 100%;
        width: 100%; 
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        transition:all 1.5s ease-in-out;
        opacity: 0;
        background-color: #13131380;
        object-fit:cover;
        border-radius: 20px;
    } 
    .thumbnail .item .content:hover{
        opacity: 100;
    
    }
    .thumbnail .item .content .title{
        font-weight: bold;
        top: -10rem;
        position: relative;
        left: 3rem;
        color: rgb(17, 16, 16);
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
    }
    .thumbnail .item .content .title:hover{
        color: white;
    }
    .thumbnail .item .content .left{
        rotate: 90deg;
        right: -100px;
        position: relative;

    }
    .thumbnail .item .content hr{
        height: 1.3px;
        border: 2px double white;
        background-color: white;
    }

    .thumbnail .item .content .btns{
        top: -15rem;
        left: -8rem;
        width: 170px;
        position: relative;
        font-size: 2rem;
        font-weight: bold;
        color: white;
        padding:0 70px;
        background-color: blue;
        display: flex;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        box-sizing: border-box;
        transition: all 3s ;
    }
    .thumbnail .item .content .btns:checked{
        background-color: greenyellow;
    }
    .thumbnail .item .content .btns:hover{
        box-shadow: #fff 3px 2px 5px 5px;
    }


@media screen and (max-width:700px){
    .navber{
        width: 100%;
        display: flex;
        height: 70px;
        padding: 10px;
        background-color: var(--bdColor);
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 3rem;
        justify-content: space-around;
        box-shadow: var(--textColor) 0px 10px 10px 0rem;
        z-index: 1;
        align-items: center;
    }
    #search {
        border-radius: 7px;
        width: 80%;
        background-color:var;
        font-size: 1%;
        border:none;
        height: 25px;
        color:var(--bdColor);
    }
    .navber>.navber1{
        width: 70%;
        display: flex;
    }
    .navber>.navber1>svg{
        width: 20px;
        height: 20px;
        left: -50px;
    }
    .navber > .navber2{
        height: 100%;
        width: 60px;
        display: flex;
    }
    .navber2 > .menu_btn{
        width: 60px;
        height: 60px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-top-left-radius: 10px;
        border-end-end-radius: 10px;
        transition: 1s ease-in-out;
    }
    .navber2 > .menu_btn:hover{
        background-color: var(--bgColor);
    }
    .navber2 > .menu_btn > .menu-btn-span{
        width: 40px;
        height: 10px;
        background-color: black;
        color: black;
        border-end-end-radius: 10px;
        border-end-start-radius: 10px;
    }
    .navber3{
        display: none;
    }


    .thumbnail{
        z-index: 100;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .thumbnail .item{
        width: 100px;
        height:150px;
        flex-shrink: 0;
        position: relative;
        object-fit: contain;
        overflow: hidden;
        display: flex;
    }
    .thumbnail .item img{
        width: 100px;
        height: 100%;
        object-fit:cover;
        border-radius: 5px;
    }
    .thumbnail .item .content{
        height: 100%;
        width: 100%; 
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        transition:all 1.5s ease-in-out;
        opacity: 0;
        background-color: #13131380;
        object-fit:cover;
        border-radius: 5px;
    } 
    .thumbnail .item .content:hover{
        opacity: 100;
     
    }
    .thumbnail .item .content .title{
        font-weight: bold;
        position: relative;
        color: rgb(17, 16, 16);
        font: .5rem;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
    }
    .thumbnail .item .content .title:hover{
        color: white;
    }
    .thumbnail .item .content .left{
        rotate: 90deg;
        position: relative;
    
    }
    .thumbnail .item .content hr{
        height: 1.3px;
        border: 2px double white;
        background-color: white;
    }
    
    .thumbnail .item .content .btns{
        width: 70px;
        position: relative;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        padding:0 20px;
        background-color: blue;
        display: flex;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        box-sizing: border-box;
        transition: all 3s ;
    }
    .thumbnail .item .content .btns:checked{
        background-color: greenyellow;
    }
    .thumbnail .item .content .btns:hover{
        box-shadow: #fff 3px 2px 5px 5px;
    }
   






    .mainContainer .thumbnail{
        width: 100%;
        gap: 8px;
        max-width: 0;
    }
    .mainContainer .thumbnail .item{

    }
} 

.mainContainer {
    justify-content: space-evenly;
    background-color: var(--bgColor);
}
.he {
    display: flex;
}
.main {
    display: flex;
    padding: 2vh 0vh 5vh 0vh;
    border: #3a3a44 1px solid;
    border-radius: 10px;
    background-color: #fefefe;
    box-shadow: #706c6a 0px 0px 30px 30px;
}
.foot {
    height: 15rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.349);
    border-top-right-radius: 20rem;
    border-top:5px  double whitesmoke
}

hr{
    border: 2px solid snow ;
    margin: 10px;
}
.product:hover {
    width: 550px;
}

.links:hover {
    border: 2px solid #fefefe;
    border-radius: 10px; 
    transition: all 10ms ease-in-out;
}
.mainContainer .foot .footerLink {
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:var(--textColor);
    text-transform: uppercase;      
}



.mainContainer .foot .footerLink:hover{
    border-bottom: 5px solid var(--bdColor);
    color: var(--bdColor);
}
hr {
    width: 80%;
}
/* 
style the shoping cart */
.cart_btn ,.cart_btn1{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0, #131313, #09a1a1, rgb(221, 16, 159), hwb(120 2% 25%), #362bd3, rgba(231, 45, 12, 0.938))repeat-y;
    color: white;
    font-size: 2.5rem;

}
.btn_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartText {
    display: flex;
    flex-direction: column;
}

#iimm {
    width: 500px;
    height: 500px;
    background-color: #1d31e2;
}

.one_root {
    width: 1000px;
    height: 500px;
    background-color: aqua;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;


}

li {
    font-size: 2em;
    list-style: none;
}

.cart_note {
    font-size: 3rem;
    color: #1d31e2;
}

.new_root {
    width: 100%;
    height: 100pc;
    border: #1d31e2 1px solid;
    display: none;
    justify-content: center;
}

/* styleing the button of light and bark mode */
.he2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.button {
    width: 70px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    cursor: pointer;
    display: flex;

}

.btnlightmode {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    display: none;
}

.btndarkmode {
    border-radius: 50px;
    height: 25px;
    width: 30px;
    border-right: 5px solid black;
}

.btn_p {
    margin-top: -15px;
    margin-left: -200px;
}




.cart {
    width: 100px;
}
.num_cart {
    width: 20px;
    height: 20px;
    color: white;
    background-color: transparent;
    margin-top: 40px;
    margin-left: -175px;
    font-size: 1.5rem;
    -webkit-text-stroke-width: 2px;
}

.he3{
    display: flex;
    justify-content: space-between;
}


.title_btn {
    display: flex;
    justify-content: space-between;
}

.im1 {

    width: 100%;
    height: 85%;
    z-index: -2;
    transition: all ease 5s;
    animation: rote1 infinite linear 30s;

}

@keyframes rote1 {
    0% {
        transform: rotatey(-0deg);
    }

    100% {
        transform: rotatey(3460deg);
    }
}

.img1 {
    width: 100%;
    height: 85%;
    z-index: -2;
    top: -50;
    animation: 5s rote2 infinite linear;
}

@keyframes rote2 {
    0% {
        transform: rotatex(0deg);
    }

    100% {
        transform: rotatex(-360deg);
    }
}

.im {

    width: 100%;
    height: 85%;
    z-index: -2;
    animation: 3s infinite linear rote3;
}

@keyframes rote3 {
    0% {
        transform: translateX(-30pc);
    }

    50% {
        transform: translateY(100px);
    }

    100% {
        transform: translateX(0pc);
    }
}

.im2 {
    width: 100%;
    height: 85%;
    z-index: -2;
    animation: 3s rote4 infinite linear;
}

@keyframes rote4 {

    0%,
    50%,
    100% {
        opacity: 0;
        transform: scale(0);
    }

    10%,
    35%,
    70%,
    90% {
        opacity: 1;
        transform: scale(1);
    }
}

.im3 {

    width: 100%;
    height: 85%;
     z-index: -2;
    transition: all 3s ease;
    animation: 3s rote5 infinite linear;

}

@keyframes rote5 {
    0% {
        clip-path: circle(100%);
        transform: scale(0);
        transition: all 3s ease;
    }

    100% {
        clip-path: circle(50% at 0 0);
        transform: scale(1);
    }
} 

.mains {
    background-color: white;
    border-radius: 15px;
    width: 50pc;
    height: 65vh;
    margin: 10px;
    border: #262626 0.5rem solid;
    overflow: hidden;
}

.main1 {
    display: flex;
    justify-content: space-around;
}

.body {
    background-color: white;
}

#phone {
    height: 30pc;
    animation: rote infinite linear 10s;
}

a {
    text-decoration: none;
}
.he2{
    background-color: transparent;
}

@keyframes rote {
    0% {
        transform: rotatey(-0deg);
    }

    50% {
        transform: rotateX(45deg);
    }

    100% {
        transform: rotatey(3460deg);
    }
}