*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fefefe;
}
.up {
    display: flex;
    height: 100px;
    padding: 10px;
    background-color: blue;
    border-top-right-radius: 50rem;
    border-bottom-left-radius: 50rem;
    justify-content: space-around;
    margin-bottom: 3rem;
    box-shadow: #706c6a 0px 10px 10px 0rem;
}
.a{
    text-decoration: double;
    padding: 20%;
    border-radius: 20px 0px 20px 0px ;
    font-size:2em ;
    color: #faebeb;
    

}
.a:hover {
    border: 2px solid #fefefe;
    border-radius: 10px;
}
.out {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.para,.par,.pa {
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    align-items: flex-end;
    margin: 5vh;
    animation: upper 10s  linear forwards ;
}
.foot {
    margin-top: 30px;
    height: 15rem;
    border-radius: 5vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.links {
    text-decoration: none;
    border-bottom: #272524 1px solid;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    color: #272524;
}

.links:hover {
    border: 1px solid black;
    color: black;
    padding: 15px;
    background-color: transparent;
    border-radius: 3vh;
}
span{
    color:blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@keyframes upper{
    0%{
        opacity: 0;
        transform: rotate(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotate(0deg);
        filter: blur(0);
    }
}
.btns {
    font-size: 3rem;
    background-color: rgb(red, green, blue);
    border: 1px solid black;
    border-radius: 10px;
}
form {
    margin: 10rem;
    padding: 10vh 5vh 10vh 5vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: skyblue;
    border-radius: 15px;
    box-shadow: #524d4d 30px 30px 50px;
    display: none;
}

.input {
    border: none;
    border-bottom: 2px solid black;
    font-size: 2em;
    background-color: skyblue;
}

.input:hover {
    border: 1px solid black;
    border-radius: 10px;

    height: 50px;
    background-color: black;
    color: snow;
}
.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
    background-color: transparent;
}

#reset {
    width: 7rem;
    height: 3rem;
    color: white;
    background-color: red;
    border-radius: 10px;
    font-size: 2em;
}

#submit {
    width: 7rem;
    height: 3rem;
    color: white;
    background-color: lawngreen;
    border-radius: 10px;
    font-size: 2em;

}
    

@media screen and (max-width:480px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .up {
        padding:50px;
        width: 100%;
        height: 5px;
        background-color: blue;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 20px;
        justify-content:center;
        gap: 7vh;
        align-items: center;
        box-shadow: #706c6a 0px 1rem 0px 0rem;
    }
    .link{
        font-size: 1rem;
        
    }
    .btns{
        font-size: 1rem;
        padding: 2px 5px;
        margin-top: 50px;
        position: absolute;
        /* margin-right:20vh; */
    }form {
        width: 100%;
        margin: 0;
        box-shadow: none;
        margin-bottom: 10vh;
    
    }
    
    .input {
        width: 90%;
        margin-top: 5px;
    }
    
    .foot {
        flex-direction: column;
    }
    
    .pa,.par,.para {
        font-size: 1.5rem;
        margin-left: 0;
    }
    .a{
        font-size: 1rem;
    }
}